:root {
  --bg-color: #413f42;
  --player1-color: #16003b;
  --player2-color: #f73d93;
  color: white;

  --game-board-size: calc(var(--cell-size) * 3);
  --cell-size: 100px;
  --cell-gap: 8px;
}

* {
  /* box-sizing: border-box; */
}

body {
  background-color: var(--bg-color);
  background: linear-gradient(to right, grey, rgb(0, 0, 0)) no-repeat;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

main {
  grid-area: main;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
  /* position: relative; */
  text-align: center;
  /* height: min-content; */
}

.game-area {
  position: absolute;
  top: 10%;
  right: calc(50% - calc(var(--game-board-size) / 2));
  /* width: var(--game-board-size);
  height: var(--game-board-size); */

  display: grid;
  grid-template-columns: repeat(3, minmax(var(--cell-size), 1fr));
  grid-template-rows: repeat(3, minmax(var(--cell-size), 1fr));
  grid-template-areas:
    "00 01 02"
    "10 11 12"
    "20 21 22";

  font-size: 2rem;
}

.cell {
  border-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* width: 100%;
  height: 100%; */

  /* box-sizing: content-box !important; */
}

/* .cell:has() {
  background-color: rgba(0, 0, 0, 0.274);
} */

.cell[row="1"] {
  border-top: 5px solid;
  border-bottom: 5px solid;
}
.cell[col="1"] {
  border-left: 5px solid;
  border-right: 5px solid;
}

.options {
  display: flex;
  justify-content: center;
  gap: 50%;
  width: 100%;
  margin: 20px 0px;
}

.player2,
.player1 {
  display: flex;
  flex-direction: column;
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  position: relative;
}

.icon-wrapper input {
  position: absolute;
  bottom: -30px;
  appearance: none;
  -webkit-appearance: none;
  padding-left: 5px;
  width: 80%;
  height: 20px;
  border-radius: 7px;
  border: 2px solid var(--player2-color);
}

input:focus {
  outline: none;
}

/* @media only screen and (max-width: ) {
} */

/* .options h1 {
  margin: 0;
} */

.options img {
  flex-grow: 0;
  flex-shrink: 0;
  width: 80px;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  /* color: white; */
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(88deg)
    brightness(99%) contrast(107%);
}

.options img.selected {
  border: 2px solid var(--player2-color);
  border-radius: 10px;
  filter: invert(59%) sepia(97%) saturate(4727%) hue-rotate(307deg)
    brightness(95%) contrast(104%);
}

.player2 > img:has(+ img) {
  /* margin-right: 20px; */
}

.hide {
  display: none !important;
}

/* .error {
  color: rgb(198, 7, 7);
} */

.message-box {
  --size: 250px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 20%;
  right: calc(50% - calc(var(--size) / 2));
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 20px 40px;

  background-color: rgb(0, 0, 0, 0.2);

  box-shadow: 0 0.5rem 1rem black;
}

.message-box > div {
  width: 100%;
}

.message-box .txt-container p.error {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(198, 7, 7);
}

.message-box button {
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  outline: none !important;
  border: none;

  box-sizing: border-box !important;

  border: 2px solid white;

  width: 40%;
}

.message-box button:hover {
  opacity: 0.8;
  border-color: black;
}

button.nxt-btn {
  background-color: var(--player1-color);
  color: white;
}

button.reset-btn {
  background-color: red;
  color: white;
}

button.ok-btn {
  width: 80%;
  background-color: black;
  color: white;
}

.message-box p {
  color: rgb(18, 12, 51);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.message-box .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-container:has(> .ok-btn) {
  justify-content: center;
}

[aria-disabled="true"] {
  filter: blur(2px);
  pointer-events: none;
}

#start {
  --start-btn-size: 80px;
  width: var(--start-btn-size);
  height: var(--start-btn-size);
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 0.9rem black;
  cursor: pointer;

  margin-top: 25px;
  margin-bottom: 50px;

  position: relative;
}

#start:hover {
  opacity: 0.9;
}

.message-logger {
  width: 300px;
  position: absolute;
  font-size: 1.5rem;
  color: white;
  /* background-color: red; */
  text-align: center;
  top: 70px;
  left: calc(50% - 150px);
}

main:has([game-playing="true"]) {
  align-items: flex-end;
}

[game-playing="true"] {
  margin-bottom: 100px !important;
}
